<div class="container mt-4">
    <h1>Ingrese Producto</h1>
    <form id="form">
        <div class="mb-3">
            <label for="title" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" name="title" id="title" />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio del producto</label>
            <input type="text" class="form-control" name="price" id="price" />
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Foto del producto</label>
            <input
                type="text"
                class="form-control"
                name="thumbnail"
                id="thumbnail"
            />
        </div>
        <input type="submit" class="btn btn-success" value="Enviar" />
    </form>
    <div class="container mt-4" id="products"></div>
</div>
<div class="container mt-4">
    <h1>Centro de mensajes</h1>
    <form id="formMessage">
        <div class="my-3 row">
            <div class="col-6">
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="Correo"
                />
            </div>
        </div>
        <div class="mb-3" id="message"></div>
        <div class="mb-3 row">
            <div class="col-6 d-flex">
                <input
                    type="text"
                    class="form-control"
                    name="message"
                    id="message"
                    aria-describedby="emailHelp"
                    placeholder="Ingresa tu mensaje"
                />
                <button type="submit" class="btn btn-success">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    const socket = io(); 
    const form = document.getElementById("form");
    const products = document.getElementById("products");
    const message = document.getElementById("message");
    const formMessage = document.getElementById("formMessage");

    form.addEventListener("submit", function (e) {
        e.preventDefault();
        const data = {
            "title": form[0].value,
            "price": form[1].value,
            "thumbnail": form[2].value
        };
        fetch("/api/productos", {
            headers: {
                "Content-Type": "application/json",
            },
            method: "post",
            body: JSON.stringify(data),
        })
        .then((res) => res.json())
        .then((productos) => {
            form.reset();
            socket.emit("update", "ok");
        })
        .catch((e) => console.log(e));
    })

    formMessage.addEventListener("submit",function(e){
        e.preventDefault();
        const data = {
            author: formMessage[0].value,
            text: formMessage[1].value,
            date: new Date().toLocaleString()
        }
        formMessage.reset();
        if(data.author){
            socket.emit("nuevo-mensaje", data);
        }
    })

    socket.on("productos", function (productos) {
        products.innerHTML = dataTable(productos);
    });

    socket.on("mensajes", (data) => {
        message.innerHTML = renderMessage(data);
    });

     const renderMessage = (mensaje) => {
        let template = "";
        if (mensaje && mensaje.length) {
            template += mensaje.map((elem, index) => {
                return `<div class="d-flex chat">
                            <strong>${elem.author}</strong>
                            <p>${elem.date}</p>
                            <em>${elem.text}</em>
                        </div>
                        `;
            }).join(" ");
        }
        return template;
    };

    const dataTable = (productos) => {
        let template = "";
        if (productos && productos.length) {
            template += `
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr>
                        <th>Nombre</th> 
                        <th>Precio</th> 
                        <th>Foto</th>
                    </tr>
            `;

            template += productos.map((producto) => `
                <tr> 
                    <td>${producto.title}</td> 
                    <td>$${producto.price}</td> 
                    <td>
                        <img width="50" src=${producto.thumbnail} alt="not found">
                    </td> 
                </tr>    
                    `).join(" ");
            template += `</table>
                    </div>
                    `;
        }
        return template;
    };
</script>